# Created by .ignore support plugin (hsz.mobi)

.idea
*.iml
bin
pkg


Would skip repository src/github.com/kr/fs
Would skip repository src/github.com/pkg/errors
Would skip repository src/github.com/pkg/sftp
src/gosftp/gosftp.exe
