# Created by .ignore support plugin (hsz.mobi)

.idea
*.iml
bin
pkg
*.exe
*.a

*.dll
*.so
*.dylib
*.test
*.out
.glide/
gitee.com/*

.svn/
target/
test-output/
*.class
.classpath
.project
.settings/
tmp
temp
*.log
antx.properties
otter.properties
jtester.properties
.idea/
*.iml
.DS_Store
*.tar.gz
*.rpm
*.dat
conf/

